
:root {
    --main-color: #5d3c52;
    --main-color-fade: #7b647b;
    --main-dark: #02111B;
    --main-grey: #a8a8a8;
    --main-white: #FCFCFC;
    --main-highlight: #ED7D3A;
    --wrap-padding: 0.3em;
}

.ui-widget {
    font-size:100% !important;
}

.ui-panelgrid td, .ui-panelgrid tr {
    border-style: none !important
}

body {
    background-color: var(--main-white);
/*    background-image: url("/Vaalikone/resources/images/turnip512.png");
    background-size:150px 150px;
    background-position: left top;*/
}

.dialog {
    background:var(--main-white) !important;
}

.labels-column {
    font-weight: bold;
    width:6em;
    text-align:right;
    vertical-align:top;
}

.wrap {
    min-height:1200px;
    background:#e8e8e8;
    position:relative;
    max-width:980px;
    margin:0 auto;
}

.content {
    padding:0 1em;
}

.ui-messages div {
    margin:0 !important;
}

.ui-widget-content {
    background:inherit;
    border: 1px solid var(--main-grey);
}

nav {
    border-radius:5px;
    padding:1em var(--wrap-padding);
    position:relative;
    max-width:980px;
    margin:0 auto;
    background: var(--main-color);
    color: var(--main-white);
    height:110px;
    border:2px solid --main-dark;
}

.title {
    padding-left:130px;
    font-size:40px;
    height:100%;
    vertical-align:bottom;
    max-width:50%;
    display:block;
    font-family: 'Gothic A1', sans-serif;
}

#ehdokas-panel {
    background:var(--main-white);
    border-collapse:separate;
    border:solid var(--main-grey) 1px;
    border-radius:3px;
    -moz-border-radius:3px;
    border-radius:5px;
    margin-bottom:1em;
    /*    width:28%;
        float:right;*/
}

#left-panel {
    margin-bottom:1em;
    float:left;
    width:70%;
}

#answer-form\:question-nav-content {
    display:flex;
    justify-content:space-around;
    flex-flow: row;
}

#answer-form .ui-widget-content {
    background:var(--main-white);
}

nav h1 {
    margin-top:0;
    margin-bottom: 0;
    position: absolute;
    top: 38px;
}

.gap {
    margin-top:1em !important;
}

.question-btn {
    border: none !important;
    margin-right: 0.5em !important;
    margin-bottom: 0.5em !important;
    font-size:14px !important;
    width:42px;
}

.answered {  
    color: var(--main-white) !important;  
    background:    #609e8b !important;
    background:    -webkit-linear-gradient(#609e8b, #23500c) !important;
    background: linear-gradient(#609e8b, #23500c) !important;
    text-shadow: 0 1px 0 black !important;
}

.not-answered {
    color: var(--main-white) !important;
    text-shadow: 0px 1px black !important;
    background:    #65475d !important;
    background:    -webkit-linear-gradient(#65475d, #652f45) !important;
    background:    linear-gradient(#65475d, #652f45) !important;
}

.current {
    border: 1px solid var(--main-grey) !important;
    text-shadow: none !important;
    transform:scale(1.15);
}

.ui-widget-header {
    border: 1px solid #a8a8a8;
    background: #c4c4c4;
    background: #c4c4c4 linear-gradient(top,var(--main-color),var(--main-color-fade));
    background: #c4c4c4 -webkit-gradient(linear,left top,left bottom,from(var(--main-color)),to(var(--main-color-fade)));
    font-weight: bold;
    color: var(--main-white);
    text-shadow: 0 1px 0 #000;
}

.ui-growl-item {    
    background: linear-gradient(top,var(--main-dark),var(#3c5ca2));
    background: -webkit-gradient(linear,left top,left bottom,from(var(--main-dark)),to(#3c5ca2));
    background: -moz-linear-gradient(top,rgba(255,255,255,0.8),#3c5ca2);
}

.big-btn {
    height:150px;
    width:150px;
    vertical-align: middle;
    font-size:1.3em !important;
}

.login {
    margin:0 !important;
    border-radius:5px;
    height:78px;
    min-width:100px;
    position:absolute;
    top: 14px;
    right: 14px;
    font-family: 'Roboto', sans-serif;
    color: var(--main-white);
    display:block;
    background: #815f82;
    /*border: 1px solid #4e6a71;*/ 
    font-size:14px;
    padding:0.7em;
    padding-bottom:1.8em;
}


.login td {
    vertical-align:baseline;
    text-align: right;
}

.login .btn {
    position: absolute;
    right: 10px;
    bottom:10px;
}

.message-info {
    color:black;
    background: #42f483;
}

.message-error {
    color:white;
    background: #f45041;
}

.message-fatal {
    color:white;
    background: #ff0000;
}

message-warn {
    color:black;
    background:#dae026;
}

/*#messagePanel ul {
    margin: 0 !important;
}

#messagePanel li {
    list-style:none;
    padding:1em 0.2em;
    border-radius:5px;
    display:block;
}*/
