/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.4.2018, 12:18:24
    Author     : T440
*/

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.button2 {
    background-color: lightgray; 
    color: black; 
    border: 2px solid #008CBA;
    
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding-left: 5px;
    padding-right: 5px;
}