<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">Admin paneeli</ui:define>
        <ui:define name="body">
            <h:form id='user-form'>
                <p:breadCrumb style="background:white; text-shadow:none">
                    <p:menuitem value="Etusivu" url="/"/>
                    <p:menuitem value="Admin" url="/admin"/>
                    <p:menuitem value="Käyttäjät" url="/admin/users/Kaikki.xhtml"/>
                </p:breadCrumb>
                <p:panel>
                    <p:dataTable id="user-table" 
                                 editable="true"
                                 value="#{kayttajaController.kayttajat}"
                                 var = "kayttaja"
                                 style="background:var(--main-white); text-align:center; vertical-align:middle;">
                        <p:ajax event="rowEdit" listener="#{kayttajaController.updateEdited}" update="main-messages" />
                        <p:ajax event="rowEditCancel" listener="#{kayttajaController.onEditCancel}" update="user-table main-messages" />
                        <p:column headerText = "E-mail">
                            <h:outputText value="#{kayttaja.email}" />
                            <!--                            <p:cellEditor>
                                                            <f:facet name="output">
                                                                <h:outputText value="#{kayttaja.email}" />
                                                            </f:facet>
                                                            <f:facet name="input">
                                                                <p:inputText id="modelInput" 
                                                                             value="#{kayttaja.email}"
                                                                             style="width:100%"/>
                                                            </f:facet>
                                                        </p:cellEditor>-->
                        </p:column>
                        <p:column headerText = "Group">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText style='height:100%' value="#{kayttaja.group.groupname}" /></f:facet>
                                <f:facet name="input">
                                    <p:selectOneMenu value="#{kayttaja.group.groupname}">
                                        <f:selectItems value="#{kayttajaController.groupNames}"/>
                                    </p:selectOneMenu>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText = "Ehdokas">
                            <p:cellEditor>
                                <f:facet name='output'>
                                    <h:outputText value="#{kayttaja.ehdokas.etunimi} #{kayttaja.ehdokas.sukunimi}"
                                                  rendered="#{not empty kayttaja.ehdokas}"/>
                                </f:facet>
                                <f:facet name='input'>
                                    <p:selectOneMenu value="#{kayttaja.ehdokas}" converter="ehdokasConverter">
                                        <f:selectItem itemLabel="  " itemValue="#{null}" />
                                        <f:selectItems value="#{kayttajaController.ehdokasList}"
                                                       var="ehdokas"
                                                       itemValue="#{ehdokas}"
                                                       itemLabel="#{ehdokas.etunimi} #{ehdokas.sukunimi}" />

                                    </p:selectOneMenu>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column style="width:35px" >
                            <p:rowEditor/>
                        </p:column>
                        <p:column style='width:35px'>
                            <p:commandLink action='#{kayttajaController.remove(kayttaja)}' 
                                           styleClass='fa fa-lg fa-trash'
                                           update='user-form:user-table'>
                                <f:setPropertyActionListener target="#{kayttajaController.selectedUser}" value='#{kayttaja}'/>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                    <p:commandButton value="Lisää uusi käyttäjä" 
                                     oncomplete='PF("uusi-dialog").show()'
                                     style='margin-top:1em;'>
                        <f:setPropertyActionListener target="#{kayttajaController.uusiEmail}" value=''/>
                    </p:commandButton>
                </p:panel>
            </h:form>
            <p:dialog id="uusi-dialog" 
                      widgetVar="uusi-dialog" 
                      closable="true" 
                      header="Uusi käyttäjä"
                      modal="true"
                      resizable="false"
                      styleClass="dialog">
                <h:form style="padding:1em">
                    <p:panelGrid columns='2' columnClasses="labels-column">
                        <p:outputLabel value='Käyttäjätunnus:'/>
                        <p:inputText value="#{kayttajaController.uusiEmail}"
                                     placeholder="Käyttäjätunnus / Sähköposti"
                                     requiredMessage='Käyttäjätunnus on pakollinen'
                                     required="true"
                                     validatorMessage="Sähköpostin muoto on väärä"
                                     style='width:100%;'>
                            <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                        </p:inputText>
                                     
                        <p:outputLabel value='Salasana:'/>
                        <p:password value='#{kayttajaController.uusiSalasana}'
                                    placeholder='salasana'
                                    requiredMessage='Salasana on pakollinen'
                                    required="true" 
                                    validator='passwordValidator'
                                    style='width:100%;'>
                        </p:password>
                    </p:panelGrid>
                    <p:commandButton value="Luo käyttäjätunnus"
                                     action="#{kayttajaController.createNew()}"
                                     onsuccess="PF('uusi-dialog').hide()"
                                     update=":user-form:user-table"
                                     style='float:right;margin-top:1em'>
                    </p:commandButton>
                </h:form>
            </p:dialog>
        </ui:define>
    </ui:composition>
</html>
