<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/template.xhtml">
        <ui:define name="title">Kysymykset</ui:define>
        <ui:define name="body">
            <h:body>
                <h:form>
                    <!-- Breadcrumb linkit -->
                    <p:breadCrumb style="background:white; text-shadow:none">
                        <p:menuitem value="Etusivu" url="/"/>
                        <p:menuitem value="Kysymykset" url="/Kysymykset.xhtml"/>
                    </p:breadCrumb>
                    <!-- Datatable, jossa kysymysten id:t ja tekstit -->
                    <p:dataTable id="kysymys-table"
                                 value="#{kysymysController.kysymykset}" 
                                 var="kysymys"
                                 editable="true"
                                 styleClass="gap"
                                 style="background:white">
                        
                        <!-- Editorin käyttämien tapahtumankuuntelijoiden rekisteröinnit -->
                        <p:ajax event="rowEdit" listener="#{kysymysController.updateEdited}" 
                                update="main-messages" />
                        <p:ajax event="rowEditCancel" listener="#{kysymysController.onEditCancel}" 
                                update="main-messages" />
                        <p:column headerText="Id" 
                                  width="30"
                                  style="text-align:center">
                            <p:outputLabel value="#{kysymys.kysymysId}"/>
                        </p:column>
                        <p:column headerText="Kysymys">
                            <!-- Kolumnin sisältö riippuu editorin tilasta -->
                            <p:cellEditor> 
                                <!-- Normaali näkymä -->
                                <f:facet name="output">
                                    <p:outputLabel value="#{kysymys.kysymys}"/>
                                </f:facet>
                                <!-- Editointi näkymä -->
                                <f:facet name="input">
                                    <p:inputText value="#{kysymys.kysymys}"
                                                 style="width:100%"
                                                 maxlength="50"/>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <!-- Muokkauskolumni, joka näytetään vain jos käyttäjä on toimittaja -->
                        <p:column width="40"
                                  rendered="#{request.isUserInRole('toimittaja')}">
                            <p:rowEditor editTitle="Muokaaa"
                                         saveTitle="Tallenna muutokset"
                                         cancelTitle="Peruuta muutokset"/>
                        </p:column>
                        <!-- Kysymyksen poistokolumni, joka näytetään vain jos käyttäjä on toimittaja -->
                        <p:column width="14"
                                  rendered="#{request.isUserInRole('toimittaja')}">
                            <p:commandLink action='#{kysymysController.removeKysymys(kysymys)}' 
                                           styleClass='fa fa-lg fa-trash'
                                           update='kysymys-table'
                                           title="Poista">
                            </p:commandLink>
                        </p:column>
                        <!-- Taulun alatunniste -->
                        <f:facet name="footer">
                            <!--Lisäysnappi, joka näytetään vain toimittajille -->
                            <p:commandButton value="Lisää kysymys" 
                                             action="#{kysymysController.addNew()}"
                                             update="kysymys-table"
                                             rendered="#{request.isUserInRole('toimittaja')}"/>
                        </f:facet>
                    </p:dataTable>
                </h:form>
            </h:body>

        </ui:define>
    </ui:composition>
</html>