<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <!-- Login form -->
    <h:form>
        <!-- JSF taulu, jossa kaksi kolumnia. Renderöidään jos käyttäjä ei ole kirjautunut. -->
        <h:panelGrid columns="2" rendered="#{empty loginController.authenticatedUser}">
            <h:outputLabel for="email">E-Mail:</h:outputLabel>
            <p:inputText id="email" 
                         value="#{loginController.email}" 
                         required="true" 
                         label="E-mail"
                         placeholder="Sähköposti"
                         requiredMessage="Syötä sähköpostiosoite">
            </p:inputText>
            <h:outputLabel for="password">Password:</h:outputLabel>
            <p:password id="password" 
                        value="#{loginController.password}"
                        required="true" 
                        placeholder="Salasana"
                        requiredMessage="Syötä salasana">
            </p:password>
            <!-- Sisäänkirjautmispainike, kutsuu login-kontrollerin login metodia -->
            <p:commandButton styleClass="btn btn-login" 
                             action="#{loginController.login()}" 
                             value="Kirjaudu">
            </p:commandButton>
        </h:panelGrid>
        
        <!-- Paneeli, joka renderöidään kun käyttäjä on kirjautunut sisään -->
        <h:panelGroup rendered="#{not empty loginController.authenticatedUser}" 
                      style="text-align:right">
            <!-- Kirjautuneen käyttäjän tunnus -->
            <h:outputLabel value="Kirjautunut sisään:" /><br/><br/>
            <h:outputLabel style="display:block; height:30px; vertical-align:middle !important" 
                           value="#{loginController.authenticatedUser.email}"/>
             <!-- Log out nappi -->
            <p:commandButton
                action="#{loginController.logout()}" 
                value="Kirjaudu ulos">
            </p:commandButton>
        </h:panelGroup>
    </h:form>
</html>