<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            Yhteenveto
        </ui:define>
        <ui:define name="body">
            <!-- Paneeli, jossa kiitosteksti -->
            <p:panel style="margin:1em;background:var(--main-white)">
                <h3>
                    <h:outputText value="Kiitoksia vastauksistanne #{loginController.authenticatedUser.ehdokas.etunimi}!
                                  Voitte vielä tarkistaa antamanne vastaukset alapuolelta ja halutessanne muuttaa niitä palaamalla kyselyyn."/>
                </h3>
                <p:link outcome="vastaa" value="Takaisin kyselyyn"/>
            </p:panel>
            <!-- Luodaan paneelit kaikista kysymyksistä ja niiden vastauksista (For-looppi) -->
            <p:repeat step="1"
                      offset="0"
                      size="#{vastaaController.count}" 
                      value="#{vastaaController.kysymykset}" 
                      var="kysymys" 
                      varStatus="varStatus">
                <p:panel header="#{varStatus.index+1} - #{kysymys.kysymys}"
                         style=" width:80%; margin: 1em auto; background:var(--main-white)">

                    <h:outputText style="font-weight:bold"
                                  value='#{vastaaController.kuvaukset[vastaaController.vastaukset[varStatus.index].vastaus]}'/> <br/><br/>
                    <h:outputText value="#{vastaaController.vastaukset[varStatus.index].kommentti}"/>
                </p:panel>
            </p:repeat>
        </ui:define>
    </ui:composition>

</html>
