<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    
    <!-- Head määritykset -->
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Titleen otetaan templatea käyttävän sivun alaotsikko "title" nimestä -->
        <title>Lanttumaa Vaalikone - <ui:insert name="title"></ui:insert></title> 
        <h:outputStylesheet library="css" name="style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:500|Gothic+A1:400" rel="stylesheet"></link>
    </h:head>

    <!-- Body -->
    <h:body>
        <div class="wrap">
            
            <!-- Nav bar, joka on yhteinen kaikille sivuille. Sisältää lantun, alasivun otsikon ja 
            sisäänkirjatumis lomakkeen. -->
            <nav>
                <h:graphicImage url="/resources/images/turnip512.png" 
                                height="185" 
                                width="185"
                                style="position:absolute; top:-35px; left:-30px; transform:rotate(-45deg)"/>
                <div class="title"><h1><ui:insert name="title"></ui:insert> </h1></div>
                <div class="login"><ui:include src="login.xhtml"></ui:include></div>
            </nav>
            <!-- Viestipaneeli, joka ilmestyy, kun kontrollereista lähetetään facesmessage -->
            <p:growl id="main-messages" 
                     autoUpdate="true" 
                     showDetail="true">
            </p:growl>
            <!-- Div, jonka sisään sivun pääsisältö templatea käyttäviltä sivuilta 
            includataan -->
            <div class='content'>
                <ui:insert name="body"></ui:insert>
            </div>
        </div>
    </h:body>

</html>
